{% extends "base.html" %}

{% block content %}

{% include "poster-summary.html" %}

{% with share_text="" this_page_url="purpleposter.com" %}

<div class="row-fluid share-links">

<a target="blank" href="http://facebook.com/sharer.php?text=See%20{{poster.movie.name}}%20filming%&u=purpleposter.com/poster/{{poster.pk}}/#main-info">
<button class="btn btn-primary" type="button">
Share on Facebook
</button>
</a>
<a target="blank" href="http://twitter.com/share?text=An%20Awesome%20Link&url=http://www.google.com">
<button class="btn btn-primary" type="button">
Tweet this
</button>
</a>

</div>

{% endwith %}

{% endblock %}
