{% for image in poster.image.all %}
<img src="{{ image.imageURL }}" />
{% endfor %}

<h1>
	<a href="/movie/{{ poster.movie.pk }}/">
		{{ poster.movie.name }}
		{% if poster.movie.name != poster.alias %}
		<small>
			({{ poster.alias }})
			{% endif %}
		</small>
	</a>
</h1>

{% if linkToPosterDetail %}
<a href="/poster/{{ poster.pk }}/">{{ PurplePoster.alias }}
{% endif %}
	{{ poster.startTime }} to {{ poster.endTime }} <br />
{% if linkToPosterDetail %}
</a>
{% endif %}

{{ poster.location }} <br />

{% if poster.locationLat and poster.locationLon %}
GPS ({{ poster.locationLat }}, {{ poster.locationLon }})
{% endif %}
