{% extends "base.html" %}
{% load humanize %}

{% block title %}
{{ poster.movie.name }} is filming {{ poster.startTime|naturalday:"l, F j" }}
{% endblock %}

{% block content %}

{% include "poster-summary.html" %}

<div class="row-fluid share-links">

<a target="blank" href="http://facebook.com/sharer.php?u=jpochtar.cs.columbia.edu/poster/{{poster.pk}}/%23main-info">
<button class="btn btn-primary" type="button">
Share on Facebook
</button>
</a>
<a target="blank" href="http://twitter.com/share?text=See%20{{poster.movie.name}}%20filming&url=jpochtar.cs.columbia.edu/poster/{{poster.pk}}/%23main-info">
<button class="btn btn-primary" type="button">
Tweet this
</button>
</a>

</div>

<div class="row-fluid" id="actors">



</div>

{% endblock %}
