
{% extends "base.html" %}

{% block mainblock %}

	<div id="track-movie-form">
		<form method="post" action="/trackmovie/" >
		{% csrf_token %}
			<select name="movie-id">
			{% for movie in movies %}
				<option value="{{ movie.id }}">{{ movie.name }}</option>
			{% endfor %}
			</select>
			<input type="hidden" name="user-name" value = {{ user.username }}>
			<button class="btn-primary" type="submit">
			Track this movie
			</button>
		</form>
	</div>

	<div id="track-actor-form">
		<form method="post" action="/trackactor/">
		{% csrf_token %}
			<select name="actor-id" >
			{% for actor in actors %}
				<option value="{{ actor.id }}">{{ actor.actorName }}</option>
			{% endfor %}
			</select>
			<input type="hidden" name="user-name" value = {{ user.username }}>
			<button class="btn-primary" type="submit">
			Track this celebrity
			</button>
		</form>
	</div>

	<div id="track-poster-form">
		<form method="post" action="/trackposter/">
		{% csrf_token %}
			<select name="poster-id">
			{% for poster in posters %}
				<option value="{{ poster.id }}">{{ poster.alias }} - {{ poster.movie.name }}</option>
			{% endfor %}
			</select>
			<input type="hidden" name="user-name" value = {{ user.username }}>
			<button class="btn-primary" type="submit">
			Track this poster
			</button>
		</form>
	</div>
	
{% endblock %}


